@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import "styles/colors";
@import "styles/layout";
@import "styles/reset";
@import "styles/typography";

.app {
  height: 100vh;
  width: 100vw;

  font-family: $font-family;
  color: $black;

  @include flexbox;
}
